
  <table style="background-color: lightgrey;
      font-family: 'proxima-nova', sans-serif;
      height: 100%;">
    <table style="height:100%;">
      <div
        style="
          background-color:#ffffff;
          font-family: 'proxima-nova', sans-serif;
          font-size: 16px;
          margin: 48px 48px 0 48px
        "
      >
        <table>
          <table
            style="background-color: #ffffff;padding: 16px;"
          >
            <table

              style="border-bottom: 1px solid black; text-align: center;width: 100%;"
            >
              <img
                src="https://res.cloudinary.com/hopkins87/image/upload/v1662931039/logo_abyybn.png"
                alt="logo"
              />
            </table>
            <table
              style="
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 16px;
              "
            >
              <div>
                <p><strong>Thank you for leaving review!</strong></p>
                <p>
                  Here's a little thanks for leaving valuable feedback on one of our products. You may
                  use this coupon code on next online purchase with Hudson Bay.
                </p>
              </div>
            </table>

            <div style="text-align:center">Coupon code:</div>

            <div width="100%" style="background-color:#00714a;margin:16px 0;border-radius: 30px;">
              <section style="color:#ffffff;height: 40%;padding-left:24px;display:block;text-align: center;">
                <p style="font-size: 86px;margin: 24px 0 24px 0;display:inline-block;padding-left: 24px;"><%=discAmount%></p>
                <div style="display:inline-block;text-align: center;display:inline-block;vertical-align: middle">
                <img src="https://res.cloudinary.com/hopkins87/image/upload/v1663088174/Screenshot_2022-09-13_at_12.55.56_PM_etwcbz.png" style="height:80px;width:90px;display:inline-block;vertical-align: middle;margin-bottom: 60px;" alt="pecentage" />
                </div>
                <p style="font-size: 36px;color: #ffffff;display:inline-block;">On any Online Purchase!</p>
              </section>
            
              <section style="display:block;margin-bottom: 24px;">
                <!-- <table style="background-color:white;height:50px;width:100%;opacity: 70%;z-index: 1;margin-bottom: 74px;"></table> -->
                <div style="background-color:rgb(213, 211, 211);height:50px;width:100%;text-align:center;">
                    <p style="font-size: 28px;color: #ffffff;text-align: center;margin:0;padding-top:4px;">PROMO CODE: <%=discVoucher%></p>
                    
                </div>
                 <div style="height:50px;width:100%;">
                    
                </div>
              </section>
            </div>
            <div style="text-align:center;">
              <p>Terms Apply</p>
            </div>
            <div style="text-align:center;">
              <button
                type="submit"
                id="redirect-button"
                style="
                  height: 70px;
                  width: 250px;
                  margin: 16px 0;
                  background-color: darkblue;
                  border-radius: 10px;
                "
              >
                <a
                  href="http://localhost:3000"
                  style="text-decoration: none; font-size: 27px; color: #ffffff"
                  alt="Broken Link"
                  >Shop Now
                </a>
              </button>
            </div>
          </table>
      </div>
  </body>
    <div style="padding: 16px 8px 0 0;text-align: center;">
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662937780/59439_evawfr.png"alt="facebook"/>
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662945863/Screenshot_2022-09-11_at_9.23.57_PM_ocjsm1.png"alt="instagram"/>
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662946000/Screenshot_2022-09-11_at_9.25.57_PM_bv55km.png"alt="pinterest"/> 
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662937685/733635_ow1pa0.png"alt="twitter"/>
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662937679/48968_vbc5xi.png"alt="youtube"/>
    </div>
</html>
