

  <table
    style="
      background-color: lightgrey;
      font-family: 'proxima-nova', sans-serif;
      font-size: 16px;
      height: 100%;
      margin:48px;
    "
  >
    <section >
      <div
        style="background-color: #ffffff;"
      >
        <div
          style="border-bottom: 1px solid black; text-align: center"
        >
          <img
            src="https://res.cloudinary.com/hopkins87/image/upload/v1662931039/logo_abyybn.png"
            alt="logo"
          />
        </div>
        <table
          style="display: flex; justify-content: flex-start; flex-direction: column; padding: 16px"
        >
          <p><strong>Thank you for your recent order!</strong></p>
          <p>
            Leave a review for a chance to receive up to 20% <strong>discount</strong> on your next
            purchase with Hudson's Bay
          </p>
        </table>
        <div style="padding-left: 16px">
          <p>Your order</p>
        </div>
        <div
          style="
            margin: 0 16px;
            display: flex;
            flex-direction: column;
            padding: 16px;
            border: 2px solid lightgrey;
          "
        >
          <div style="display: flex; flex-direction: row; width: 100%">
            <img
              src="https://res.cloudinary.com/hopkins87/image/upload/v1662931031/item_xjflz6.png"
              style="height: 200px; width: 150px; padding: 0 16px; border: 2px solid lightgrey"
              id="item-picture"
              alt="item-picture"
            />
            <div
              style="
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                height: 100%;
              "
            >
              <table
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  padding-left: 16px;
                  width: 100%;
                "
              >
                <h3>Home studio</h3>
                <p  style="color: grey">Koble Juno Desk</p>
                <p>$552.46</p>
                <p style="margin-top: 80px">Qty 1</p>
              </table>
            </div>
            <table
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 95%;
                padding-left: 16px;
              "
            >
              <p style="margin-top: 185px; margin-left: 360px">Order Number:948887456</p>
            </table>
          </div>
        </div>
        <div style="margin-left: 40%">
          <button
            type="submit"
            id="redirect-button"
            style="
              height: 70px;
              width: 250px;
              margin: 16px 0;
              background-color: darkblue;
              border-radius: 10px;
            "
          >
            <a
              href="http://localhost:8080/home"
              style="text-decoration: none; font-size: 27px; color: #ffffff"
              alt="Broken Link"
              >Go to Review
            </a>
          </button>
        </div>
      </div>
    </section>
      <div style="padding: 16px 8px 0 0;text-align: center;">
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662937780/59439_evawfr.png"alt="facebook"/>
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662945863/Screenshot_2022-09-11_at_9.23.57_PM_ocjsm1.png"alt="instagram"/>
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662946000/Screenshot_2022-09-11_at_9.25.57_PM_bv55km.png"alt="pinterest"/> 
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662937685/733635_ow1pa0.png"alt="twitter"/>
        <img style="height:40px;width:40px;padding:0 16px;display:inline-block;" src="https://res.cloudinary.com/hopkins87/image/upload/v1662937679/48968_vbc5xi.png"alt="youtube"/>
      </div>
  </table>

</html>
